body {
    background-color: var(--color-body);
}

.nav-bar {
    background-color: var(--color-header);
    box-shadow      : 0px 4px 6px rgba(0, 0, 0, 0.16);
    z-index         : 5;
    position        : fixed;
    width           : 100%;
    top             : 0;

    /* position: relative; */
}

.logo {
    font-family    : var(--font-logo);
    font-size      : var(--text-lg);
    color          : var(--color-logo);
    text-decoration: none;
}


.button-md {
    text-decoration: none;
    padding        : var(--space-xs) var(--space-md-lg);
    border-radius  : 15px;
    font-family    : var(--font-secondary);
    box-shadow     : 0px 0px 20px rgba(0, 0, 0, 0.2)
}

/**-------------------- Section Headers  --------------------*/

.banner-heading {
    background: linear-gradient(90deg, var(--color-banner-primary), var(--color-banner-secondary));
}

.banner-heading>.banner-text {
    font-family: var(--font-primary);
}

.banner-heading>.banner-text>h1 {
    font-size     : var(--text-xl);
    padding-top   : var(--space-lg);
    padding-bottom: var(--space-lg);
    margin-bottom : var(--space-xl);
}

/**------------------------------------------------------------*/

/**------Sign In & Register Buttons in Navigation Bar-------*/
.button-sign-in {
    background-color: var(--color-button-primary);
    color           : var(--color-button-primary-text);
    border          : 0.07rem solid var(--color-button-primary-border);
    transition      : all 0.2s ease;
}

.button-md.button-sign-in:hover {
    background-color: var(--color-button-primary-hovered);
    border          : 0.07rem solid var(--color-button-secondary-border);
    transition      : all 0.2s ease;
    box-shadow      : 0px 0px 5px rgba(0, 0, 0, 0.2)
}

.button-register {
    background-color: var(--color-button-secondary);
    color           : var(--color-button-secondary-text);
    border          : 0.07rem solid var(--color-button-secondary-border);
    transition      : all 0.2s ease;
}

.button-md.button-register:hover {
    background-color: var(--color-button-secondary-hovered);
    color           : var(--color-button-primary-text);
    transition      : all 0.2s ease;
    box-shadow      : 0px 0px 5px rgba(0, 0, 0, 0.2)
}

/**------------------------------------------------------------*/


/** Navigation Links in Navigation Bar */
.button-nav-option {
    text-decoration: none;
    display        : block;
    padding        : 1rem;
    font-family    : var(--font-secondary);
    font-size      : var(--text-reg);
    color          : var(--color-text-heading);
    font-weight    : 700;
    transition     : all 0.2s ease;
}


.button-nav-option:hover {
    box-shadow   : 0px 0px 20px var(--color-card-shadow-hover);
    border-radius: 15px;
    transition   : all 0.2s ease;
}

/**------------------------------------------------------------*/


/**-------------------Icons in Navigation Bar------------------*/
.nav-search-icon {
    margin-left : 1rem;
    margin-right: 1rem;
    padding     : 0.25rem;
    transition  : all 0.1s ease;
}

.nav-search-icon:hover {
    box-shadow   : 0px 0px 20px var(--color-card-shadow);
    border-radius: 15px;
    transition   : all 0.1s ease;
}

.nav-shopping-cart-icon {
    margin-left : 1rem;
    padding     : 0.25rem;
    transition  : all 0.1s ease;
    margin-right: 1rem;
}

.nav-shopping-cart-icon:hover {
    box-shadow   : 0px 0px 20px var(--color-card-shadow);
    border-radius: 15px;
    transition   : all 0.1s ease;
}

rect.search-icon {
    stroke        : #fff;
    fill          : #fff;
    fill-opacity  : 0;
    stroke-opacity: 0;
}

/* .search-box-not-opened{
    display: none;
}

.search-box{
    transition: all 4s ease;
    display: block; 
} */
/**------------------------------------------------------------*/


/**------------------- Banner ------------------*/
.banner {
    background: linear-gradient(90deg, var(--color-banner-primary), var(--color-banner-secondary));
}

.banner-text {
    font-family: var(--font-logo);
    color      : white
}

.banner-text>.store-name {
    font-size: var(--text-xxl);
}

.banner-text>.welcome {
    font-family: var(--font-primary);
    font-size  : var(--text-xxl);
}

.banner-text>.description {
    font-family : var(--font-primary);
    font-size   : var(--text-lg);
    margin-left : auto;
    margin-right: auto;
}

.banner-img>img {
    width: 20rem;
}

/**---------------------------------------------*/


/**------------------- Store Info ------------------*/
.info-card {
    background-color: var(--color-card);
    font-family     : var(--font-secondary);
    text-align      : center;
    padding-top     : var(--space-sm);
    padding-bottom  : var(--space-sm);
    width           : 22rem;
    border-radius   : 15px;
    box-shadow      : 0px 0px 15px var(--color-card-shadow);
}

.heading {
    color        : var(--color-card-heading);
    font-weight  : bold;
    font-size    : var(--text-md);
    margin-bottom: var(--space-xxxs);
    font-family  : var(--font-secondary);

}

.info-card-disc {
    color    : var(--color-text);
    font-size: var(--text-reg);
}

/**---------------------------------------------*/


/**------------------- Store News ------------------*/
.promo-img {
    margin-bottom: 1rem;
}

.promo-img>img {
    width : 15rem;
    height: 15rem;
}

/**-------------------------------------------------*/


/**------------------- Events ------------------*/
.event-card {
    background-color: var(--color-card);
    font-family     : var(--font-secondary);
    padding         : var(--space-sm) var(--space-md);
    border-radius   : 15px;
    box-shadow      : 0px 0px 15px var(--color-card-shadow);
    width           : 35ch;
    transition      : all 0.2s ease;
}

.event-card-container>* {
    text-decoration: none;
}

.event-card:hover {
    box-shadow: 0px 0px 20px var(--color-card-shadow-hover);
    transition: all 0.2s ease;
}

.event-card>.heading {
    color        : var(--color-card-heading);
    font-weight  : bold;
    font-size    : var(--text-md);
    margin-bottom: var(--space-xxxs);
    text-align   : center;

}

.event-card>hr {
    border-top: 0.5px solid #BDBDBD;
}

.event-card>.event-disc {
    color      : var(--color-text);
    font-weight: 400;
    font-size  : var(--text-reg);
    line-height: 1.6;
}

/**-------------------------------------------------*/


/**------------------- Deck Expansion ------------------*/
.product-card {
    background-color: var(--color-card);
    font-family     : var(--font-secondary);
    padding         : var(--space-sm) var(--space-md);
    border-radius   : 15px;
    box-shadow      : 0px 0px 15px var(--color-card-shadow);
    min-width: 10rem;
}

.product-card:hover {
    box-shadow: 0px 0px 20px var(--color-card-shadow-hover);
    transition: all 0.2s ease;
}

.product-card>.heading {
    text-align: center;
    max-width: 17ch;
}

.product-card>img {
    height      : 20em;
    display     : block;
    margin-left : auto;
    margin-right: auto;
}

.product-card>table {
    margin-bottom: var(--space-sm);
}

td {
    vertical-align: middle;
    font-size     : var(--text-reg-md);
}

.tick {
    fill: var(--color-success);
}

.item-in-stock {
    color: var(--color-success);
}

.add-to-cart {
    margin-left     : auto;
    margin-right    : auto;
    display         : block;
    width           : 40%;
    background-color: var(--color-button-primary);
    color           : var(--color-button-primary-text);
    text-align      : center;
    padding-top     : var(--space-sm);
    padding-bottom  : var(--space-sm);
    transition      : all 0.2s ease;
}

.add-to-cart:hover {
    background-color: var(--color-button-primary-hovered);
    box-shadow      : 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition      : all 0.2s ease;

}

/**-------------------------------------------------*/


/**------------------- Footer ------------------*/
.footer {
    background-color: var(--color-footer);
}

.footer-header {
    font-family  : var(--font-primary);
    color        : var(--color-text-big-heading);
    font-size    : var(--text-lg);
    margin-bottom: var(--space-xs);
    margin-top   : var(--space-lg);
}

.footer-text {
    font-family: var(--font-secondary);
    color      : var(--color-text-big-heading);
    font-size  : var(--text-reg);
    text-align : center;
    max-width  : 35ch;
    line-height: 1.6;
}

.about-us>.footer-text {
    text-align: left;
}

.social-card {
    width           : 4rem;
    height          : 4rem;
    background-color: var(--color-card);
    border-radius   : 15px;
    margin-bottom   : var(--space-xs);
    margin-left     : auto;
    margin-right    : auto;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.social-card>img {
    width: 2.5rem;
}

/**-------------------------------------------------*/

/**----------------------------------------------PRODUCT - LISTING--------------------------------------------------*/
.product-listing-container {
    font-family: var(--font-secondary);
}


.page-heading {
    color      : var(--color-text-heading);
    font-family: var(--font-primary);
    font-size  : var(--text-xl);
}

.filters-card {
    background-color: var(--color-card);
    border-radius   : 15px;
    height          : 30rem;
    min-width: 15rem;
    max-width: 15rem;
    box-shadow      : 0px 0px 15px var(--color-card-shadow);
}

.filters-container {
    margin-left: var(--space-xs);
    margin-top : var(--space-sm);
}

.filters-container>* {
    margin-bottom: var(--space-xs);
}

.mini-heading {
    color        : var(--color-card-heading);
    font-size    : var(--text-reg-md);
    margin-bottom: var(--space-xxxs);
    font-family  : var(--font-secondary);
}

.tag-container {
    border       : 1px solid var(--color-tag);
    border-radius: 15px;
    margin-right : 1rem;
}

.tag {
    color           : var(--color-tag-text);
    background-color: var(--color-tag);
    padding         : var(--space-xxxs) var(--space-xxxs);
    width           : 15ch;
    border-radius   : 15px;
    margin          : var(--space-xxs) var(--space-xxxs);
}

.tag>* {
    margin: var(--space-xxs) var(--space-xxxs);
}

/* .slide-container {
    width: 100%; /* Width of the outside container 
} */

.slider {
    -webkit-appearance: none;
    width             : 90%;
    height            : 5px;
    border-radius     : 5px;
    background        : var(--color-card-heading);
    outline           : none;
    -webkit-transition: .2s;
    transition        : opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance        : none;
    width             : 15px;
    height            : 15px;
    border-radius     : 50%;
    background        : var(--color-card-heading);
    cursor            : pointer;
}

/* ------------------------- CheckBoxes ----------------------- */
.checkbox-container {
    display            : block;
    position           : relative;
    margin-bottom      : var(--space-sm);
    padding-left: 2rem;
    cursor             : pointer;
    font-size          : var(--text-reg);
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    font-family: var(--font-secondary);
    color: var(--color-text);
    
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity : 0;
    cursor  : pointer;
    height  : 0;
    width   : 0;
}

.checkmark {
    position        : absolute;
    top             : 0;
    left            : 0;
    height          : 25px;
    width           : 25px;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: var(--color-card-heading);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* ------------------------- */

/* Text Box */

.search-box-label {
    margin-left: 10px ;
    color : var(--color-card-heading);
    font-size: 15px;
}

.search-box {
    padding: 12px 20px 12px 40px;
    border: 1px solid var(--color-text-box);
    box-sizing: border-box;
    width: 80%;
    border-radius: 15px;
    outline: none;
    background-image: url('./../images/icons/search_black_24dp.svg');
    background-repeat: no-repeat;
    background-position: 10px;
}

.search-box:focus  {
    padding: 12px 20px 12px 40px;
    border: 1px solid var(--color-text-box);
    width: 80%;
    border-radius: 15px;
}

.selected {
    border-radius: 15px;
    padding: var(--space-md);
    background-color: var(--color-card);
    box-shadow      : 0px 0px 20px var(--color-card-shadow-hover);
    font-size: var(--text-reg-md);
}

.next {
    background-color: var(--color-button-primary);
    color           : var(--color-button-primary-text);
    text-align      : center;
    padding-top     : var(--space-sm);
    padding-bottom  : var(--space-sm);
    transition      : all 0.2s ease;
}

.next:hover {
    background-color: var(--color-button-primary-hovered);
    box-shadow      : 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition      : all 0.2s ease;
}


/* .card-link {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   text-decoration: none;
   z-index: 10;
   background-color: white;
   opacity: 0;
   filter: alpha(opacity=0);
} */

