.main {
    margin-top  : 5rem;
    margin-right: 7rem;
    margin-left : 7rem;
}

.product-contrainer {

    width: 100%;
}

.product-contrainer .container {
    display        : flex;
    justify-content: center;
}

.outer-container {
    max-width: 100ch;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.product-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: var(--space-sm);
}
.product-counter > .count {
    margin-left: var(--space-sm);
    margin-right: var(--space-sm);
}

