.product-listing {
    margin-top: 4rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

.page-heading {
    text-align: center;
    padding   : 3rem;
}

.product-listing-container {
    display: flex;
    flex-direction: row;
}

.tag {
    display: flex;
    align-items: center;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: var(--space-md);
    justify-content: space-between;
}

.products > .product-card {
    margin-bottom: var(--space-sm);
}

.page-counter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: var(--space-lg);
    margin-bottom: var(--space-lg);

}

.page-counter-container > .counter {
    margin-left: var(--space-sm);
    margin-right: var(--space-sm);
}

